<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../public/css/bootstrap.min.css"> -->
</head>

<body>
  <div class="header container">
    <div class="page-header mt-3">
      <h1><a href="/">返回首页</a> <small class="ml-3">发表帖子</small></h1>
    </div>
  </div>
  <div class="comments container">

    <form action="/post" method="post">
      <div class="form-group mt-3">
        <label for="input_name" class="h5 mt-3">标题</label>
        <input type="text" class="form-control" required minlength="2" maxlength="10" id="input_name" name="title"
          placeholder="请输入标题">
      </div>
      <div class="form-group">
        <label for="textarea_message" class="h5 mt-3">正文内容</label>
        <textarea class="form-control" name="content" id="textarea_message" cols="30" rows="10" required minlength="5"
          maxlength="20"></textarea>
      </div>
      <button type="submit" class="btn btn-success submitBtn">发表</button>
    </form>
  </div>

  <!-- todo -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../public/js/hintBtn.js"></script>

  <script>
    $(".submitBtn").on("click", function (e) {
      if ($("#input_name").val().length > 1 && $("#textarea_message").val().length > 4) {
        new HintBtn(null, "发帖成功！积分+2！")
      }
    })
  </script> -->

</body>

</html>